{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h1>Import Categories from CSV</h1>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="csv_file" accept=".csv" required>
  <br><br>
  <button type="submit" class="default">Upload CSV</button>
</form>

<p style="margin-top:20px;">
  CSV format: <br>
  <code>name,slug,parent_slug,is_active</code>
</p>

<p>
  <strong>SKU is mandatory.</strong><br>
  Existing SKUs will be updated, new SKUs will be created.
</p>

{% endblock %}
